<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lik.project">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        tools:targetApi="31">
        <activity
            android:name=".RegisterUpdateActivity"
            android:label="Update Or Delete Data"
            android:parentActivityName=".RegisterDataActivity"/>
        <activity
            android:name=".RegisterAddActivity"
            android:label="Register"
            android:parentActivityName=".RegisterDataActivity" />
        <activity
            android:name=".RegisterDataActivity"
            android:label="Register Data"
            android:exported="true"/>
        <activity
            android:name=".UpdateActivity"
            android:parentActivityName=".DataActivity" />
        <activity
            android:name=".AddActivity"
            android:label="Add Book"
            android:parentActivityName=".DataActivity" />
        <activity
            android:name=".DataActivity"
            android:exported="true"
            android:label="Book Data" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>